body{
	padding-top: 60px;
	background: url(images/poulet.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	height:799px;
	font-family: 'Dancing Script',cursive;
	padding:0;
	margin: 0;  
	box-sizing: border-box;
	height: 100%;
	color: white;
}
h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 1.9em;
}

select{
	width: 37%;
	padding: 10px;
}
option{
	padding: 5px;
	color: red;

}
/* select, option { */


form{
	display: inline;
	padding: 0;
	margin: 0;
	font:1em sans-serif;
	text-align: center;
}
fieldset{
		/*border: 1px solid;*/
		/*border-radius: 5px;*/
		margin: 0;
		padding: 1em;
}
label{
	cursor: pointer;
}
p{
	margin: 0;
}
p+p{
	margin: .5em 0 0;
}

#votre{
	border: none;
	width: 30%;
	padding: 15px 10px;
	margin: 1px 0;
	font-size: 2em;
	font-family: 'Advant Pro',sans-serif;
	border-radius: 8px;
	/* background-color:; */
  	border: 2px solid 	#273c75;
  	margin-top: 15px;
}
form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: white;
}
form .corps-formulaire .groupe {
  position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 20px 0px 10px 0px ;
  border: 1px solid #c9c9c9;
  outline-color: 	#273c75;
  border-radius: 5px;
  width: 80%;
  padding: 5px 5px;
  margin: 1px 1px;
  font-size: 1.5em;
  font-family: 'Advant Pro',sans-serif;
  border-radius: 8px;
}
form .corps-formulaire .gauche .groupe i {
  position: absolute; 
  left: 0;
  top: 25px;
  padding: 9px 8px ;
  /* color: 	 */
  font-size: 15px;
}
form .corps-formulaire .droite {
  margin-left: 40px;
}
form .corps-formulaire .droite .groupe {
  height: 100%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid 	#273c75;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
form .pied-formulaire button {
  margin-top: 15px;
  /* background-color: 	; */
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
}

textarea,button{
  border: none;
  width: 80%;
  padding: 5px 5px;
  margin: 1px 1px;
  font-size: 1.5em;
  font-family: 'Advant Pro',sans-serif;
  border-radius: 8px;

}
input.corps-formulaire.gauche.groupe{
	
	width: 80%;
  padding: 5px 5px;
  margin: 1px 1px;
  font-size: 1.5em;
  font-family: 'Advant Pro',sans-serif;
  border-radius: 8px;
}
span{
	display: inline-block;
	background: red;

}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 ;
  grid-row: 1/3;
}
.two {
  grid-column: 2 ;
  grid-row: 1 ;
}
.three {
  grid-column: 3;
  grid-row: 1 ;
}
.four {
  grid-column: 2 / 3 ;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 4;
}
.six {
  grid-column: 1;
  grid-row: 4;
}

@media  only screen  and (max-width: 600px)
{
      .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    
    .one {
      grid-column: 1/3 ;
      grid-row: 1;
    }
    .two {
      grid-column: 1/3 ;
      grid-row: 2;
    }
    .three {
      grid-column: 1/3;
      grid-row: 3;
    }
    .four {
      grid-column: 1;
      grid-row: 4;
    }
    .five {
      grid-column: 1;
      grid-row: 4;
    }
    .six {
      grid-column: 1;
      grid-row: 4;
    }
}

.cmd{
    width: auto;
    background-color: green;
}
