body{
    background-color: #434343;
    background: url(images/poulet.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  h1{
    text-align: center;
    font-size: 3.5em;
    color: white;  
  }
  
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    background-color: white;
    background: url(immages/poulet.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  
    border-radius: 10px;
  }form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 20px 0px 10px 0px ;
    border: 1px solid #c9c9c9;
    outline-color: 	#273c75;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute; 
    left: 0;
    top: 25px;
    padding: 9px 8px ;
    /* color: 	; */
    font-size: 15px;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid 	#273c75;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 15px;
    background-color: green	;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  
  input, textarea,button{
    border: none;
    width: 80%;
    padding: 5px 5px;
    margin: 1px 1px;
    font-size: 1.5em;
    font-family: 'Advant Pro',sans-serif;
    border-radius: 8px;
  
  }
   /*h2{ */
    
  
  
  