body{
	/*font-family: 'Dancing Script',cursive;*/
	padding:0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;

}
ul{  
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
} 
a{
   text-decoration: none;
   color: white;	
}
/*.............NAVBAR.......*/ 
nav{
	overflow: hidden;
	background-color: #303030;
	position: fixed;
	width: 100%;
	opacity: 0,1;
	z-index: 10;
}
header li{
	float: right;
	font-size: 2em;

}
header li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 18px 16px;
}
#logo{
	/*font-family: 'Dancing Script',cursive;*/
	font-weight: bold;
	float: left;
}
nav ul a:hover{
	
	color: black;
}
nav ul a{
	transition: 0.2s ease-in;
}
/*...........IMAGE PRINCIPALE.......*/
#imageprincipale{
	padding-top: 60px;
	background-image: url(images/poulet.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	height:799px;
}
h1{
	/*font-family:'Dancing Script',cursive;*/
	text-align:center;
	color: antiquewhite;
	font-size: 5em;
	margin-top: 100px;
	 text-shadow: 1px 3px 2px black; 
}
#premiertrait{
	height: 1px;
	width:25% ;
	margin: -3px auto;
	background-color: #434343;
	box-shadow: 1px 3px 2px black;
}
h3{
	text-align: center;
	color: antiquewhite;
	font-size: 3em;
	text-shadow: 1px 3px 2px black; 

}
/*.............FOOTER........*/
footer{
	background-color: #303030;
	color: #fffae1;
	padding: 20px 0 10px 0;
	text-align: center;
	/*margin-top: -40 px;*/
}
form{
	margin: 0 auto;
	max-width: 900px;
}
input, textarea,button{
	border: none;
	width: 56%;
	padding: 15px 10px;
	margin: 1px 0;
	font-size: 2em;
	font-family: 'Advant Pro',sans-serif;
	border-radius: 8px;
	background-color: beige

  	
  

}
textarea{
	height: 120px;
}
#b{
	font-size: 3em;
  	transition: transform 0.5s;
  	background-color: green	;
  	color: white;
}
#b:hover{
	transform: scale(1.05);
}

html{
	scroll-behavior: smooth;
}
.pi{
	font-size: 1.5em;
}
.a{
	text-align: center;
	font-family: 'Dancing Script',cursive;
	font-size: 1.5em;
}
/*...........MENU.........*/

#comande{
	background-color: #303030;
	margin-top: -60px;
	margin-bottom: -60px;
}

img:hover{
	transform: scale(1.1);
}



.image{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}


/*.......... A PROPOS.......*/
#propos{
	font-size: 1.5em;
	/*font-family: 'Dancing Script',cursive;*/
	color: white;
	
}
h4{
	color: black;
	text-align: center;
	font-size: 1.5em;

}
.rama{
	/*font-family: 'Dancing Script',cursive;*/
	font-size: 1.5em;
	color: white;
}
/*...........RESERVATION........*/
.cooker{
	opacity: 0.6;
	margin-left: -20px;
	width: 15em;
	height: 15em;
}

#reserve{
	border: 1px solid black;
	width: 550px;
	position: relative;
	left: 10%;
	top: auto;
	padding: 20px;
	background: #000;
	opacity: 1;
	border-radius: 15px;
	
}

@keyframes content{
	0%{
		transform: translateY(80px);
	}
	50%{
		transform:translateY(80px) ;
		opacity: 0;
	}
	100%{
		transform: none;
		opacity: 1;
	}
}
.cook{
	position: absolute;
	top: -1em;
	font-weight: 100;
	opacity: 0.8;
	color: white;
	/*font-family: 'Dancing Script',cursive;*/
	width: 8em;
	left:4.5em;
}
.ici{
	background-color: #434343;
	/*font-family: 'Dancing Script',cursive;*/
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 5em;
	left:7.5em;

}

/*.............ACCUEIL.........*/

.check{
	display: none;
	overflow: hidden;
	opacity: 0.9;
}
#tata , #trait1 ,#trait2{
	display: none;
}


@media screen and (max-width:886px){
    header>nav>ul>li{
		display: flex;
		flex-direction:row-reverse;
		width: 100%;
		height: auto;

	}

	
}
@media screen and (max-width:900px){
	#tata,#trait1, #trait2 {
	display: flex;
	width: 2em;
	height: 0.5em;
	position: absolute;
	background-color: white;
	}
}
#tata{
	top: 1.5em;
}
#trait1{
	top: 0.5em;
}
#trait2{
	top: 2.5em;
}
.reserve{
	display: none;
}
#reserve{
	display: flex;
	flex-direction: column;		
	height: 180px;
	width: 300px;
	left: 2px;
	top: -2em;

}
	
.cooker{
	display: none;
}
.check{
	z-index: 200;
	position: absolute;
	display: none;
}
.tata{
	z-index: 200;
	position: absolute;
	display: flex;
	width:3em;
	height:2em;
	padding:1em;
		
}
	
	
.check:checked ~ .nav{
	display: none;
}
.cook{
	position: absolute;
	top: -1em;
	font-weight: 100;
	opacity: 0.8;
	color: white;
	/*font-family: 'Dancing Script',cursive;*/
	left: -0.5em;

}
.ici{
	background-color: #434343;
	/*font-family: 'Dancing Script',cursive;*/
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 4em;
	left: 2.3em;
} 