body{
	/* padding-top: 60px; */
	background: url(images/poulet.jpg) no-repeat fixed 50% 50%;
	font-family: 'Dancing Script',cursive;
	padding:0;
	margin: 0;
	color: white;
}
.wrapper {                         
  display: grid;                     /*pour que l'élément divise sa surface en une grille */
  grid-template-columns: repeat(3, 1fr);
}
 .one {
  /* grid-column: 1 ; */
  grid-row: 1/3;
}
.cmd {
 width: auto;
 background-color: green;
 ;
}

