body{
background: url(images/poulet.jpg) no-repeat fixed 50% 50%;
}  
h1{ 
 text-align: center; 
 font-size: 3.5em;
 color: white;  
  }
form { 
 width: 100%;
 display: flex;
 justify-content: center;          /*mettre le formulaire au centre*/
 padding: 30px;
 background: url(immages/poulet.jpg) ;
  }
  form .corps-formulaire {
    display: flex;  
    font-size: 1.5em;
    color: white;
  }
   form .corps-formulaire .groupe {
    position: relative;         /*Pour positionner l’élément dans le flux normal de la page  */
    margin-top: 20px; 
    /* flex-direction: column;         */
}
  form .corps-formulaire .gauche .groupe input { 
    margin-top: 5px;
    padding: 20px 0px 10px 0px ;
    border: 1px solid #c9c9c9;
    outline-color: 	#273c75;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute; 
    left: 0;
    top: 25px;
    padding: 9px 8px ;
    font-size: 15px; 
  } 
  form .pied-formulaire button {
    margin-top: 15px;
    background-color: green	;
    color: white;
    font-size: 1.5em;
    border: none;
  }
  input, textarea,button{
    border: none;
    width: 80%;
    padding: 5px 5px;
    margin: 1px 1px;
    font-size: 1.5em;
    font-family: 'Advant Pro',sans-serif;
    border-radius: 8px;
  
  }
   