/*.............NAVBAR.......*/

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;          /*permet de cacher les marqueurs*/
} 

a{
   text-decoration: none;
   color: white;	
   }
nav{
	overflow: hidden;    /*permet de gerer le depassement du contenu d'un élément dans son bloc */
	background-color: #303030;
	position: fixed;
	width: 100%;
	z-index: 10;     /*pour qu'une div passe au dessous de la barre*/
}
header li{
     float: right; 
	font-size: 2em;

}
header li a{
	display: block; 
    padding: 18px 16px; 
}
#logo{
	float: left; 
}
 nav ul a:hover {                             /* hover a donner un effet de zoom à la barre de nav*/
	background-color:black;          
	color: black; 
} 
/*...........IMAGE PRINCIPALE.......*/
#imageprincipale{
	padding-top: 60px;
	background: url(images/poulet.jpg) no-repeat fixed 50% 50%;
	height:799px;
}
h1{
	text-align:center;
	color: antiquewhite; 
	font-size: 5em;
	margin-top: 100px;
	 text-shadow: 1px 3px 2px black; 
}
#premiertrait {           /*trait en bas du texte h1*/
	height: 1px;
	width:25% ;
	margin: -3px auto;
	background-color: #434343;
	box-shadow: 1px 3px 2px black;
}
h3{
	text-align: center;
	color: antiquewhite;
	font-size: 3em;
	text-shadow: 1px 3px 2px black;               /*ajouter une ombre au texte*/

}
/*.............FOOTER........*/
footer{
	background-color: #303030;
	color: #fffae1;
	padding: 20px 0 10px 0;
	text-align: center;
}
 form{
	margin: 0 auto;
	max-width: 900px; }

input, textarea,button{
	border: none;
	width: 56%;
	padding: 15px 10px;
	margin: 1px 0;
	font-size: 2em;
	font-family: 'Advant Pro',sans-serif;
	border-radius: 8px;
  	border: 2px solid 	#273c75;
  	margin-top: 15px;
}
textarea{
	height: 120px;
}
#b{
	font-size: 3em;
  	transition: transform 0.5s;
  	background-color: green;
  	color: white;
}

/* effet de zoom sur le button  */
#b:hover{
	transform: scale(1.05);
}

.pi{
	font-size: 1.5em;
}
 .a{
	text-align: center;
	font-family: 'Dancing Script',cursive;
	font-size: 1.5em;
} 

/* Fin */
/*...........MENU.........*/

#comande{
	background-color: #303030;
	margin-bottom: -60px;
} 

/* pour creer un effet de zoom sur l'image */
img:hover{
	transform: scale(1.1);
}  
/*.......... A PROPOS.......*/
#propos{
	font-size: 1.5em;
	color: white;
	}
	
h4{
	text-align: center;
	font-size: 1.5em;

}

/*...........RESERVATION........*/
.cooker{
 margin-left: -20px; 
 width: 15em; 
 height: 15em; 
}

#reserve{
	width: 550px;
	position: relative;
	left: 10%; 
	background: #000;

	
}

.cook{
	position: absolute; 
	top: -1em; 
	color: white;
	font-weight: 100;
	left:4.5em; 
}  
.ici{
	background-color: #434343;
	position: absolute;
	top: 150px;
	left: 230px;
	right: 2px;
	
    
} 

 /* .check{
	display: none; 
} */


.mess{
color: #000;
text-align: center;
}