/* Réservation */
  button{
	background: transparent;
	border: none;
	outline: none;
}

/* Menu  */

.container{
	margin: 50px 50px 50px 5%;
	width: 90%;
	text-align: center;
	background-color: #303030; 
 
}
 .categories{
	width: max-content;
	margin: 25px;
	border: 1px solid #184d47;
	border-radius: 0 0 50px 50px;
	display: inline-block;

} 
.categories:hover{
	box-shadow: 0 10px 3px #184d47;  /*ombre pour la boite*/

} 
.item-image{
	height: 200px;
	width: 200px; 
	border-radius: 0 0 50px 50px;
	padding: 10px;
}
.image-title{
	font-weight: bold;                                /*gras*/
	font-size: 1.5em; 
} 